*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;margin:0; }

body {
	background: #ddd;
	color: #5a5350;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	overflow-y: scroll;
	overflow-x: hidden;
	margin:0;
	cursor:default;
}

a {
	text-decoration: none;
	color: #ed8151;
	outline: none;
}

a:hover, a:focus {
	color: #e86a32;
	outline: none;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}
/* To Navigation Style */

.navbar button {
	position:fixed;
	border:none;
	background-color: transparent;
	outline: none;
	right:10px;
}
  
.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #fff;
		margin: 6px 0;
		transition: 0.4s;
}
/* Navbar Ends - Main Page starts*/
.text-logo
{
	color: #fff;
	font-size: 2em;
	padding: 1em;
}
.navbar
{
	padding:10px;
	background-color:#4572ad;
	height:55px;
}
#particles-js
{
	width:100vw;
	z-index:-1;
	position: absolute;
	height:87vh;
}
.row
{
	padding:10px;
}
.main_title
{
	position: absolute;
	width: 100vw;
	top:5vw;
	margin-top:58px;
	display:block;
	height:83vh;
}
.main_title p{
	font-size:50px; 
	text-align:center;
	left:10vw;
}
.main_title img
{
	margin-left:40vw;
}
